{%extends 'base.html'%}
{%block content%}
<div class="container mt-2">
    <div class="row">
        <h4>Websockets?</h4>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>Websockets are a technology that provides direct, two—way communication between the user's browser and the
                server in real time. It is like a constantly open communication line through which data can be freely transmitted
                in both directions without the need to reload the page or constant requests to the server.</p>
        </div>
    </div>

    <div class="row mt-2">
        <h4>Username in chat</h4>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>When visiting the site, the user sees a name entry form. After entering the name, the name is passed to
                the next page to connect to the websocket on the chat page itself.</p>
        </div>
    </div>

    <div class="row mt-2">
        <h4>JavaScript chat client</h4>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>In my project, I created a JavaScript chat client using WebSocket for real-time communication.
                This allows users to exchange messages instantly. The simple interface is made using Bootstrap, and the
                entire chat runs on pure JavaScript.</p>
        </div>
    </div>
</div>
{%endblock%}