{%extends 'base.html'%}
{%block content%}
<div class="container">
    <div class="row mt-2">
        <h4>Hello!</h4>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>My name is Rinat!
            <br>I'm Python Backend developer from Moscow!</p>
        </div>
    </div>

    <div class="row mt-2">
        <h4>Contact me:</h4>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p>Telegram: <a href="https://t.me/rinaaaa_chan" class="hyperlink">@Rinaaaa_chan</a>
            <br>E-mail: Oblom.ru@gmail.com</p>
        </div>
    </div>

</div>
{%endblock%}